manifest {
  description = 'Critical Assessment of Intrinsically Disordered Proteins (CAID) Benchmark Workflow'
}

profiles {

	  docker {
      process {
          withName:validation {
            // container = "validation_image"
            container = "caid_validation"
          }
      }
      process {
          withName:compute_metrics{
            // container = "compute_metrics_image"
            container = "caid_metrics"
          }
      }
      process {
          withName:benchmark_consolidation{
            // container = "consolidation_image"
            container = "caid_consolidation"
          }
      }
      
      docker.enabled = true
      // set time zone for running docker containers
      docker.runOptions = '--user \$(id -u):\$(id -g) --entrypoint "" -e TZ="\$([ -z \\"\$TZ\\"] && cat /etc/timezone || echo \\"\$TZ\\")"'
    
  }
}

// default parameter values

params  {

  // submitted file
  input = "$baseDir/full_data/input_data/D001_PyHCA.out"

  // reference file dir to validate input data
  // public_ref_dir = "$baseDir/TCGA_sample_data/public_ref"
  public_ref_dir = "$baseDir/full_data/public_ref"


  // name of the tool used for the predicitions
  participant_id = "PyHCA"

  // directory where the 'gold standards' are found
  goldstandard_dir = "$baseDir/full_data/metrics_ref_datasets"

  // challenges for which the benchmark has to be performed
  challenges_ids  = "disprot-disorder-pdb-atleast disprot-disorder"

  // directory where TCGA benchmarking data is found
  assess_dir = "$baseDir/full_data/benchmark_data"
  augmented_assess_dir = "$baseDir/full_data/augmented_data"

  //name or OEB permanent ID for the benchmarking community
  community_id = "CAID"

  // Boolean operator: if set to CLOSED the whole workflow is executed; if OPEN, metrics are computed but aggregation/consolidation is not performed
  challenge_status = "CLOSED"

  // directories where results will be written
  validation_result = "results/validation_out/validated-participant-data.json"
  assessment_results = "results/metrics_out/Assessment_datasets.json"
  // the consolidation results json files
  outdir = "results/consolidation_out"
  statsdir = "results/stats"
  data_model_export_dir = "results/benchmarking_data_model_export/Participant_assessments.json"
  otherdir = "results/other"

}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}